* {
			box-sizing: border-box;
		}
		.chicken {
			
			border: 1px solid black;
			padding: 0px;
			color: maroon;
			background-color: green;
            width: 475px;
		}
		.mutton {
			border: 1px solid black;
			padding: 0px;
			color: violet;
			background-color: brown;
			width: 475px;
		}
		.fish {
			border: 1px solid black;
			padding: 0px;
			color: black;
			background-color: pink;
			width: 475px;
		}
		div {
			float: left;
			margin-left: 10px;
		}

		h2 {
			background-color: grey;
			margin: 1px;
			margin-bottom: 20px;
			margin-top: 0px;
			margin-left: 0px;
			padding-right: 25px;
			border: 1px solid black;
			width-left: 100px;
			text-align: right;
		}